/*

!/.gitignore
!/.github/
!/.flake8
!/.pre-commit-config.yaml
!/xpresso/
!/benchmarks/
!/docs/
!/docs_src/
!/tests/
!/Makefile
!/pyproject.toml
!/poetry.lock
!/README.md
!/mkdocs.yml
!/codecov.yml
!/LICENSE.txt
!/CONTRIBUTING.md
!/assets/

**/__pycache__
**/.DS_Store
